@font-face {
  font-family: "HelveticaNeueLT Std Lt";
  src: url("/public/fonts/HelveticaNeueLTStd-LtIt.eot");
  src: url("/public/fonts/HelveticaNeueLTStd-LtIt.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/HelveticaNeueLTStd-LtIt.woff2") format("woff2"),
    url("/public/fonts/HelveticaNeueLTStd-LtIt.woff") format("woff"),
    url("/public/fonts/HelveticaNeueLTStd-LtIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLT Std Thin Cn";
  src: url("/public/fonts/HelveticaNeueLTStd-ThCn.eot");
  src: url("/public/fonts/HelveticaNeueLTStd-ThCn.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/HelveticaNeueLTStd-ThCn.woff2") format("woff2"),
    url("/public/fonts/HelveticaNeueLTStd-ThCn.woff") format("woff"),
    url("/public/fonts/HelveticaNeueLTStd-ThCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLT Std";
  src: url("/public/fonts/HelveticaNeueLTStd-Th.eot");
  src: url("/public/fonts/HelveticaNeueLTStd-Th.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/HelveticaNeueLTStd-Th.woff2") format("woff2"),
    url("/public/fonts/HelveticaNeueLTStd-Th.woff") format("woff"),
    url("/public/fonts/HelveticaNeueLTStd-Th.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLT Std";
  src: url("/public/fonts/HelveticaNeueLTStd-Bd.eot");
  src: url("/public/fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/HelveticaNeueLTStd-Bd.woff2") format("woff2"),
    url("/public/fonts/HelveticaNeueLTStd-Bd.woff") format("woff"),
    url("/public/fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLT Std";
  src: url("/public/fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("/public/fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"),
    url("/public/fonts/HelveticaNeueLTStd-Roman.woff") format("woff"),
    url("/public/fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLT Std UltLt";
  src: url("/public/fonts/HelveticaNeueLTStd-UltLt.eot");
  src: url("/public/fonts/HelveticaNeueLTStd-UltLt.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/HelveticaNeueLTStd-UltLt.woff2") format("woff2"),
    url("/public/fonts/HelveticaNeueLTStd-UltLt.woff") format("woff"),
    url("/public/fonts/HelveticaNeueLTStd-UltLt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLT Std Lt";
  src: url("/public/fonts/HelveticaNeueLTStd-Lt.eot");
  src: url("/public/fonts/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/HelveticaNeueLTStd-Lt.woff2") format("woff2"),
    url("/public/fonts/HelveticaNeueLTStd-Lt.woff") format("woff"),
    url("/public/fonts/HelveticaNeueLTStd-Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
